* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
html, body {
    height: 100%;
}
.header {
    padding: 10px;
	width: 100%;
	height: 80px;
    background-color: white;
}
.signIn {
    position: absolute;
    top: 25px;
    right: 30px;
}
.signIn a {
    font: bold 30px "Georgia";
    text-decoration: none;
    color: rgb(0, 168, 45);
}
.header .logo{
    position: absolute;
    top: 16px;
}
.logo img {
    width: 210px;
    height: 60px;
}
.main {
    display: flex;
    justify-content: center;
    height: calc(100% - 190px);
    text-align: center;
    background-image: url(/static/evernote/img/pencil.jpg);
}
.login {
    top: 0;
    bottom: 0;
    display: inline-block;
    margin-top: 150px;
    height: 370px;
    width: 530px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 16px #dcdcdc;
}
.login p {
    margin-bottom: 20px;
    margin-top: 30px;
    font: bold 40px "Georgia";
}
.loginForm {
    margin-top: 16px;
    height: 40px;
    width: 200px;
    font: 25px "Georgia";
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    padding: 8px;
    outline: none;
}
.buttonContinue {
    margin-top: 10px;
    height: 48px;
    width: 240px;
    font: 25px "Georgia";
    border-radius: 5px;
    border: 1px solid rgb(0, 168, 45);
    background-color: rgb(0, 168, 45);
    color: white;
    padding: 8px;
}
.footer {
    padding: 10px;
	width: 100%;
	height: 70px;
    background-color: white;
}
.line {
    display: inline-flex;
    width: 800px;
}
.element {
    margin: 30px;
}
button:hover {
    background-color: rgb(0, 201, 52);
    border: 1px solid rgb(0, 201, 52);
    cursor: pointer;
}

