* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
html, body {
    height: 100%;
}
.main {
    font-family: Georgia;
    height: 100%;
    display: flex;
    width: 100%;
}
.leftBlock {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 100%;
    padding: 10px;
    background-color: white;
    text-align: center;
}
.leftBlock .username {
    font-weight: bold;
    margin: 10px 0 24px;
    font-size: 24px;
    color: rgb(0, 168, 45);
}
.rightBlock {
    overflow-y: auto;
    padding: 20px;
    width: 76%;
    background-image: url(/static/evernote/img/pencil.jpg);
}
.divNote {
    font: 16px Georgia;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    margin: 20px 20px;
    box-shadow: 0 0 6px #dedede;
}
.save {
    background-color: rgb(0, 168, 45);
    width: 130px;
    height: 34px;
    color: #fdfdfd;
    font: bold 18px Georgia;
    border-radius: 16px;
    border: 1px solid rgb(0, 168, 45);
}
.noteTags {
    font-family: Georgia;
    padding: 4px 8px;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
    background-color: #e8e8e8;
    color: gray;
    height: 28px;
    width: 200px;
    outline: none;
}
button:hover {
    background-color: rgb(0, 201, 52);
    border: 1px solid rgb(0, 201, 52);
    cursor: pointer;
}


