* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html, body {
    height: 100%;
}

.main {
    font-family: Georgia;
    height: 100%;
    display: flex;
    width: 100%;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 100%;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.leftBlock .id {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

.leftBlock .username {
    display: inline;
    font-weight: bold;
    margin: 10px 0 16px;
    font-size: 24px;
    color: rgb(1, 190, 4);
}

.leftBlock .showMenu {
    margin-left: 4px;
    display: inline;
    height: 12px;
    width: 16px;
}

.leftBlock .menu {
    position: absolute;
    top: 40px;
    left: 140px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu a {
    font: 20px Georgia;
    text-decoration: none;
    color: #01be04;
}

.leftBlock .filter1 {
    margin-bottom: 16px;
    font: 20px Georgia;
    color: #818181;
}

.leftBlock .filterBy {
    font: 16px Georgia;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    height: 28px;
    width: 84px;
    padding: 4px 8px;
    margin: 0 4px 0;
}

.filterForms {
    border-radius: 12px;
    border: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    font: 16px Georgia;
    width: 150px;
    padding: 4px 6px;
    margin: 0 4px;
    height: 29px;
    outline: none;
    cursor: pointer;
}

.leftBlock .filterButton {
    font: 16px Georgia;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    height: 28px;
    width: 110px;
    padding: 4px 8px;
    margin: 0 4px 0;
    cursor: pointer;
}

.deleteNote {
    height: 32px;
    width: 20px;
    opacity: .4;
    margin: 0 4px;
}

.leftBlock .filter {
    margin-bottom: 24px;
}

.leftBlock .addNewNote {
    width: 300px;
    height: 50px;
    border: 1px solid rgb(0, 168, 45);
    background-color: rgb(0, 168, 45);
    border-radius: 8px;
    font: 20px Georgia;
    color: white;
    cursor: pointer;
}

.allNotes {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
    width: 240px;
    height: 34px;
    color: #3f3f3f;
    font: bold 18px Georgia;
    border-radius: 16px;
    background-color: #dedede;
    cursor: pointer;
}

.rightBlock {
    overflow-y: auto;
    padding: 20px;
    width: 76%;
    background-image: url(/static/evernote/img/pencil.jpg);
}

.rightCorner {
    display: flex;
    align-items: center;
    text-align: center;
}

.divNote {
    font: 16px Georgia;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    margin: 20px 20px;
    box-shadow: 0 0 6px #dedede;
}

.noteTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 8px 4px;
}

.showNote {
    text-decoration: none;
    color: #b2b2b2;
    font-family: Georgia;
}

.deleteNote1 {
    display: inline;
    margin: auto 0;
}

.deleteNote1 a {
    margin: auto 0;
}

.close {
    height: 16px;
    width: 16px;
    opacity: .5;
    margin: 6.5px 0;
}

.noteBody {
    padding: 4px 0;
    text-align: justify;
}

.isFile {
    color: #b2b2b2;
    font-family: Georgia;
}

.noteDate {
    padding: 4px 0;
    color: gray;
}

.noteTags {
    padding: 4px 0;
}

.noteRow {
    display: flex;
    justify-content: space-between;
}

.noteTag {
    background-color: #e8e8e8;
    border-radius: 12px;
    padding: 4px 8px;
    margin: 0 2px;
}

.addNewTag {
    border: 1px solid rgb(143, 143, 143);
    background-color: rgb(143, 143, 143);
    border-radius: 12px;
    font: bold 14px Georgia;
    color: white;
    height: 24px;
    padding: 2px 8px;
    cursor: pointer;
}

.detailedView {
    z-index: 100;
    background-color: rgba(1, 1, 1, .7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.displayNone {
    display: none;
}

.displayFlex {
    display: flex;
}

.displayBlock {
    display: block;
}

.detailedDivNote {
    width: 70%;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
}

.deleteNote:hover {
    opacity: .7;
    cursor: pointer;
}

.showNote:hover {
    color: #4d4d4d;
    cursor: pointer;
}

.logout:hover {
    color: rgb(0, 201, 52);
}

.filterButton:hover {
    background-color: #d0d0d0;
    border: 1px solid #d0d0d0;
}

.allNotes:hover {
    background-color: #d0d0d0;
    border: 1px solid #d0d0d0;
}

.addNewNote:hover {
    background-color: rgb(0, 201, 52);
    border: 1px solid rgb(0, 201, 52);
}

.addNewTag:hover {
    background-color: rgb(114, 114, 114);
    border: 1px solid rgb(114, 114, 114);
}

.close:hover {
    cursor: pointer;
    opacity: .7;
}

.showMenu:hover {
    cursor: pointer;
    opacity: .8;
}

.detailedDivNote .isFile:hover {
    color: #4d4d4d;
    cursor: pointer;
}

.addTagForm {
    z-index: 100;
    background-color: rgba(1, 1, 1, .7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.addTagForm2 {
    width: 60%;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    text-align: center;
}

.addTagFormTitle {
    font: bold 20px "Georgia";
    margin-bottom: 20px;
}

.tagForm {
    font: 20px "Georgia";
    padding: 4px 8px;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
    background-color: #e8e8e8;
    color: gray;
    height: 28px;
    width: 200px;
    outline: none;
    margin-bottom: 12px;
}

.save {
    background-color: rgb(0, 168, 45);
    width: 130px;
    height: 34px;
    color: #fdfdfd;
    font: bold 18px Georgia;
    border-radius: 16px;
    border: 1px solid rgb(0, 168, 45);
}

.save:hover {
    cursor: pointer;
}

