body {
    margin: 0;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
    padding: 10px;
	width: 100%;
	height: 74px;
    background-color: white;
}
.signIn {
    position: absolute;
    top: 25px;
    right: 30px;
}
.signIn a {
    font: bold 30px "Georgia";
    text-decoration: none;
    color: rgb(0, 168, 45);
}
.header .logo{
    position: absolute;
    top: 20px;
}
.logo img {
    width: 210px;
    height: 60px;
}
.main {
    width: 100%;
    margin-top: 94px;
    padding-bottom: 30px;
    text-align: center;
    background-image: url(/static/evernote/img/pencil.jpg);
}
.whyEvernote {
    padding-top: 30px;
    text-align: center;
}
.whyEvernote .elem1 {
    font: 60px "Georgia";
    margin-bottom: 10px;
}
.elem1 p {
    margin: 4px auto;
}
.whyEvernote .elem2 {
    font: 30px "Georgia";
    margin-bottom: 30px;
}
.elem2 p {
    margin: 2px auto;
}
.registrationButton {
    height: 50px;
    width: 400px;
    font: 20px "Georgia";
    border-radius: 5px;
    color: white;
    border: 1px solid rgb(0, 168, 45);
    background-color: rgb(0, 168, 45);
}
.signIn1 {
    padding-top: 20px;
    padding-bottom: 24px;
    font: 20px "Georgia";
} 
.benefits {
    display: flex;
    margin: 20px auto;
    justify-content: center;
}
.benefits img{
    margin-right: 24px;
    height: 512px;
    width: 900px;
}
.benefits1 {
    text-align: left;
    font: 16px "Georgia";
    margin-bottom: 14px;
}
.benefits1 p {
    margin: 4px;
}
.tarif{
    padding-top: 20px;
    font-size: 40px;
}
.tariffPlan {
    font-family: "Georgia";
}
.plans {
    justify-content: center;
    margin-top: 20px;
    display: flex;
}
.plan1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px 30px;
    text-align: left;
    font-size: 20px;
    margin: 0 30px;
    width: 400px;
    background-color: white;
    border: 1px solid rgb(165, 235, 172);
    border-radius: 20px;
}
.plan2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px 30px;
    text-align: left;
    font-size: 20px;
    margin: 0 30px;
    width: 400px;
    background-color: white;
    border: 1px solid rgb(165, 235, 172);
    border-radius: 20px;
}
.plan3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px 30px;
    text-align: left;
    font-size: 20px;
    margin: 0 30px;
    width: 400px;
    background-color: white;
    border: 1px solid rgb(165, 235, 172);
    border-radius: 20px;
}
ul {
    list-style-image: url(/static/evernote/img/li.png);
}
li {
    margin: 10px auto;
}
.plans .title {
    font-size: 34px;
}
.plans p {
    margin: 8px 0;
}
.plans span {
    font-size: 40px;
}
.price {
    padding-bottom: 20px;
}
.plan1 ul {
    margin-top: 40px;
}
.plans ul {
    margin-bottom: 30px;
}
.plans button {
    font: 20px "Georgia";
    background-color: rgb(0, 168, 45);
    color: white;
    height: 50px;
    width: 300px;
    border: 1px solid rgb(0, 168, 45);
    border-radius: 6px;
}
.plans .button {
    text-align: center;
}
.footer {
    padding: 10px;
    height: 130px;
    background-color: white;
}
.line {
    display: inline-flex;
    width: 800px;
}
.element {
    margin: 30px;
}
button:hover {
    background-color: rgb(0, 201, 52);
    border: 1px solid rgb(0, 201, 52);
    cursor: pointer;
}
a:hover {
    color: rgb(0, 201, 52);
}


