{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Все заметки</title>
    <link rel="stylesheet" href="{% static 'evernote/css/style3.css' %}">
</head>

<body>
<div class="main">
    <div class="leftBlock">
        <div class="id">
            <p class="username">{{ user.first_name }} {{ user.last_name }}</p>
        </div>
        <div class="logoutDiv">
            <a href="{% url 'logout' %}" class="logout">Выйти</a>
        </div>
        <div class="filter">
            <div class="filter1">
                Отфильтровать:
            </div>
            <form action="{% url 'main_page' %}" method="post">
                {% csrf_token %}
                <p><label class="filterBy"
                          for="{{ filter_form.date.id_for_label }}">{{ filter_form.date.label }}</label>
                    {{ filter_form.date }}
                </p>
                <p><label class="filterBy"
                          for="{{ filter_form.tag.id_for_label }}">{{ filter_form.tag.label }}</label>
                    {{ filter_form.tag }}
                </p>
                <button type="submit" class="filterButton">Применить</button>
            </form>
            <a href="{% url 'main_page' %}">
                <button class="allNotes">Показать все заметки</button>
            </a>
        </div>
        <div class="addNew">
            <a href="{% url 'add-note_page' %}">
                <button class="addNewNote">Создать новую заметку</button>
            </a>
        </div>
    </div>
    <div class="rightBlock">
        {% for note in notes %}
            <div class="divNote">
                <div class="noteRow">
                    <div class="noteTitle">
                        {{ note.name|capfirst }}
                    </div>
                    <div class="deleteNote1">
                        <a href="main/{{ note.pk }}">
                            <button class="deleteNote">
                                <img src="{% static '/evernote/img/delete.png' %}">
                            </button>
                        </a>
                    </div>
                </div>
                <div class="noteBody">
                    {{ note.text }}
                </div>
                {% if note.file %}
                    <div class="isFile">
                        К этой заметке прикреплен файл
                    </div>
                {% endif %}
                <div class="noteDate">
                    {{ note.date }}
                </div>
                <div class="noteTags">
                    {% for tag in tags %}
                        {% for el in note_has_tag %}
                            {% if note.pk == el.note_id and tag.pk == el.tag_id %}
                                <span class="noteTag">#{{ tag.name }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <a href="add-tag/{{ note.pk }}">
                        <button class=" addNewTag">+</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>

</html>